

$primary: #6a42ff;
$offcanvas-backdrop-bg:             #fff;

$list-group-hover-bg: #fff;
$list-group-border-color: #fff;
$list-group-active-bg: #fff;
$list-group-active-color: #8666abff;



@import "../../node_modules/bootstrap/scss/bootstrap.scss";
